.container{
  text-align: center;
}

.answer_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 15px;
}

.answer_button{
  display: flex;
  justify-content: center;
}

.question_image_container{
  display: flex;
  justify-content: center;
}