[datapagination],
[datapagination] *,
[datapagination] *:before,
[datapagination] *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}
[datapagination] {
  font-size: 8pt;
  line-height: 1;
  font-weight: 400;
  font-family: 'Open Sans', 'Source Sans Pro', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  margin: 1em auto;
  text-align: center;
  transition: font-size .2s ease-in-out;
}
[datapagination] ul {
  list-style-type: none;
  display: inline;
  font-size: 100%;
  margin: 0;
  padding: .5em;
  text-decoration: none;
}
[datapagination] ul li {
  display: inline-block;
  font-size: 100%;
  width: auto;
  border-radius: 3px;
  text-decoration: none;
}
[datapagination] > a {
  font-size: 140%;
}
[datapagination] a {
  color: white;
  font-size: 100%;
  padding: .5em;
}
[datapagination] a:focus,
[datapagination] a:hover {
  color: #f60;
}
[datapagination] a:link {
  text-decoration: none;
}
[datapagination] li.current {
  background: black
}
/* Disabled & Hidden Styles */
[datapagination] .disabled,
[datapagination] [hidden],
[datapagination] [disabled] {
  opacity: .5;
  pointer-events: none;
}
@media (min-width: 350px) {
  [datapagination] {
    font-size: 10pt;
  }
}
@media (min-width: 500px) {
  [datapagination] {
    font-size: 12pt;
  }
}
@media (min-width: 700px) {
  [datapagination] {
    font-size: 14pt;
  }
}
@media (min-width: 900px) {
  [datapagination] {
    font-size: 16pt;
  }
}