.speaker_icon {
    height: 90px;
    width: 90px;
}
.container {
    text-align: center;
    /* background-color: #77dd77; */
}

.answer_section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 14px;
}
.answer_section button {
    margin-top: 3px;
}

.next_btn_container {
    box-sizing: border-box;
    padding: 15px 0;
    bottom: 0;
    left:0;
    width: 100%;
    margin-top: 15px;
}

.next_btn_container button {
    width: 100%;
}