.speaker_icon {
    height: 90px;
    width: 90px;
}
.container {
    text-align: center;
    /* background-color: #77dd77; */
}

.answer_section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 14px;
}
.answer_section button {
    margin-top: 3px;
}